openai-whisper 
ffmpeg-python
langchain
python-dotenv
streamlit
langchain-groq
nltk
deep-translator
nest-asyncio
openai
langchain-groq
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-text-splitters
langchain-openai
ipykernel
langchain-community
pydub
soundfile
